absl-py==2.2.2
accelerate==1.12.0
aiofiles==24.1.0
aiogram==3.15.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.9.1
asyncio==4.0.0
attrs==24.2.0
audioop-lts==0.2.1
beautifulsoup4==4.12.3
blessings==1.7
blinker==1.9.0
boto3==1.38.3
botocore==1.38.3
Brotli==1.1.0
build==1.3.0
CacheControl==0.14.3
cachetools==5.5.0
catboost==1.2.8
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cleo==2.1.0
click==8.3.1
cloudpickle==1.3.0
colorama==0.4.6
contourpy==1.3.1
crashtest==0.4.1
cryptography==44.0.2
cycler==0.12.1
Cython==0.29.37
datasets==4.4.1
DAWG2-Python==0.9.0
DAWG-Python==0.7.2
decorator==4.4.2
decord==0.6.0
Deprecated==1.2.18
dill==0.4.0
distlib==0.3.9
distro==1.9.0
Django==5.2.6
docopt==0.6.2
dulwich==0.24.5
et_xmlfile==2.0.0
evaluate==0.4.6
Farama-Notifications==0.0.4
fastapi==0.115.5
fasteners==0.20
fastjsonschema==2.21.2
ffmpeg-downloader==0.3.0
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.16.1
findpython==0.7.0
Flask==3.1.0
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.10.0
ftransc==7.0.3
future==1.0.0
geographiclib==2.0
geopy==2.4.1
get-annotations==0.1.2
gigachat==0.1.42.post2
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
google==3.0.0
googleapis-common-protos==1.69.0
google-api-core==2.24.1
google-api-python-client==2.187.0
google-auth==2.37.0
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
gradio==5.44.1
gradio_client==1.12.1
graphviz==0.21
groovy==0.1.2
grpcio==1.71.0
grpcio-tools==1.71.0
gspread==6.1.4
gym==0.17.2
gymnasium==0.29.1
h11==0.14.0
h5py==3.13.0
hf-xet==1.2.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.3
huggingface_hub==1.2.3
icu==0.0.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
installer==0.7.0
intervaltree==3.1.0
ipymarkup==0.9.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
Jinja2==3.1.4
jiter==0.12.0
jiwer==4.0.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
json_repair==0.44.1
kagglehub==0.3.13
keras==3.9.2
keyring==25.6.0
kiwisolver==1.4.7
langchain==1.1.0
langchain-core==1.1.0
langchain-gigachat==0.3.12
langchain-mcp-adapters==0.1.11
langchain-openai==1.1.0
langgraph==1.0.4
langgraph-checkpoint==2.1.2
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.9
langsmith==0.4.37
lightgbm==4.6.0
llvmlite==0.44.0
lyricsgenius==3.6.2
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mcp==1.18.0
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==10.6.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.2
mujoco-py==2.1.2.14
multidict==6.1.0
multiprocess==0.70.18
mutagen==1.47.0
namex==0.0.9
narwhals==1.40.0
natasha==1.6.0
navec==0.10.0
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==2.2.5
oauthlib==3.2.2
openai==2.8.1
openai-whisper==20240930
openpyxl==3.1.5
optree==0.15.0
orjson==3.10.11
ormsgpack==1.11.0
packaging==24.2
pafy==0.5.5
pandas==2.2.3
pandas_flavor==0.7.0
patsy==1.0.1
pbs-installer==2025.10.14
pillow==10.4.0
pingouin==0.5.5
pip==25.2
pkginfo==1.12.1.2
plotly==6.1.1
plumbum==1.9.0
poetry==2.2.1
poetry-core==2.2.1
polyglot==16.7.4
proglog==0.1.11
propcache==0.2.1
protobuf==5.29.3
proto-plus==1.26.0
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.12.2
pydantic_core==2.41.4
pydantic-settings==2.11.0
pydub==0.25.1
pyffmpeg==2.4.3
pyglet==1.5.0
PyJWT==2.10.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymorphy3==2.0.3
pymorphy3-dicts-ru==2.4.417150.4580142
pyparsing==3.2.0
PyPDF2==3.0.1
pypiwin32==223
pyproject_hooks==1.2.0
pyshorteners==1.0.1
pyTelegramBotAPI==4.23.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-gitlab==5.2.0
python-multipart==0.0.20
pytz==2024.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
py-readability-metrics==1.4.5
RapidFuzz==3.14.1
razdel==0.5.0
referencing==0.37.0
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rouge_score==0.1.2
rpds-py==0.27.1
rsa==4.9
ruff==0.12.11
s3transfer==0.12.0
safehttpx==0.1.6
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.2.1
sentence-transformers==3.3.1
sentry-sdk==2.48.0
setuptools==80.9.0
shellingham==1.5.4
Shimmy==1.3.0
six==1.17.0
slovnet==0.6.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.3
sse-starlette==3.0.2
stable_baselines3==2.3.0
starlette==0.41.3
statsmodels==0.14.4
sympy==1.13.1
tabulate==0.9.0
telegram==0.0.1
tenacity==9.1.2
threadpoolctl==3.6.0
tika==2.6.0
tiktoken==0.9.0
tokenizers==0.22.1
tomlkit==0.12.0
torch==2.6.0
tqdm==4.67.0
transformers==5.0.0.dev0
trove-classifiers==2025.9.11.17
typer==0.13.1
typer-slim==0.20.0
types-requests==2.32.4.20250913
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.32.1
video-to-mp3==0.2
virtualenv==20.31.2
wandb==0.23.1
websockets==12.0
Werkzeug==3.1.3
wheel==0.45.1
whisper==1.1.10
wrapt==1.17.2
xarray==2025.10.1
xgboost==3.0.4
xxhash==3.6.0
yandexcloud==0.339.0
yandex-cloud-ml-sdk==0.8.0
yandex-speechkit==1.5.0
yargy==0.16.0
yarl==1.18.3
youtube-dl==2021.12.17
zstandard==0.25.0
asttokens==2.4.1
comm==0.2.2
debugpy==1.8.8
executing==2.1.0
ipykernel==6.29.5
ipython==8.29.0
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.7.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
parso==0.8.4
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.1.0
pure_eval==0.2.3
Pygments==2.18.0
pyzmq==26.2.0
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
wcwidth==0.2.13
